<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blague
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="ion-text-center" *ngIf="!content">
    <br>
    <ion-spinner></ion-spinner>
  </div>

  <ion-card *ngIf="content">
    <ion-card-header>
      <ion-card-title>{{blague?.joke}}</ion-card-title>
      <ion-card-title>{{blague?.answer}}</ion-card-title>
    </ion-card-header>
  </ion-card>


  <ion-footer class="bottom">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button id="changeText" (click)="refresh()">
          <ion-icon slot="start" name="refresh"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title slot="end">
        Actualiser
      </ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>
